body { padding-top: 70px; }

table.cases {
  float: left;
  /*border: 1px solid gray;*/
  /*margin: 2px;*/
  padding: 0px;
  /*background-color: whitesmoke;*/
}

table.cases th {
  background-color: lightsteelblue;
  border-bottom: 2px solid black;
}

table.cases td {
  text-align: left;
  vertical-align: top;
  padding: 5px;
  /*padding-bottom: 15px;*/
  font-size: 12px
}

table a {
  display:block;
  text-decoration:none;
  color: black;
}

table a:hover {
  /*color: darkblue;*/
  /*background-color: lightgray;*/
  text-decoration: none;
}

.plot-container {

  margin-bottom: -5px;
  padding: 0px;

}

.plot-image {
  padding-left: 0px;
  padding-right: 0px;
}

.plot-column {
  padding: 0px;
}

input[type="radio"] {
  margin-bottom: 0;
}

.form-group {
  margin-bottom: 0px;
  text-align: center;
}

.plot-options {
  /*background-color: gray;*/
  vertical-align: middle;
  margin: auto;
  height: 100%;
  padding-top: 5px;
}
