* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    font-family: sans-serif;
    background-color: grey;
}

body {
    
}

header {
    #margin-left: 150px;
    padding-left: 5px;
    background-color: whitesmoke;
}

header h1 {
    margin: 0px;
}

div.container {
    padding: 10px;
    margin: auto;
    #background-color: whitesmoke;
    background-color: white;
    max-width: 900px;
}

#plots {
    max-width: 900px;
}

div.plot-page {
    text-align: center;
}

div.plot-page table {
    margin: 10px auto;
    #border: 1px solid black;
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.plot-page table h1 {
    margin: 0px;
}

input.move-day {
    width: 70%;
    height: 100px;
    font-size: 100%;
    clear: both;
    margin-top: 10px;
    margin-bottom: 0px;
}

.plot-page td {
    #border: 1px solid black;
    vertical-align: top;
    text-align: center;
}

.plot-page img {
    width: 100%;
    float: left;
}

#rose {
    width: 50%;
}

#sat {
    width: 100%;
}

nav {
    align-content: center;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    width: 150px;
    font-size: 15px;
    display: block;
    float: left;
}

nav ul {
    font-weight: 400;
    padding-left: 0px;
}

nav li {
    background-color: lightsteelblue;
    border-radius: 5px;
    display: block;
    padding: 0px;
    margin-top: 5px;
}

nav li a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 5px;
}

div.main {
    display: block;
    min-width: 500px;
    margin-left: 150px;
    padding-left: 5px;
}

div.form {
    margin: auto;
    padding: auto;
    text-align: center;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}