{% extends 'base.html' %}

{% block content %}

<div class="col-md-offset-4 col-md-4">
  <form action="/_submit_case" method="post">

    <div class="form-group {{ d.get('date_class', '') }}">
      <label for="caseDate">Date</label>
      <input type="date" class="form-control" placeholder='YYYY-MM-DD' id="caseDate" value="{{ d.get('date','') }}" name="case_date" required>
      </input>
    </div>

    <div class="form-group">

      <label>Category</label>

      {% for cat in c %}

      <div class="checkbox">
        <label>
          <input type="checkbox" value="{{ cat }}" name="category">
            {{ cat }}
        </label>
      </div>

      {% endfor %}

      <div class="form-group">
        <!-- <label for='otherCategories'>Other Categories</label> -->
        <input class="form-control"
               name="other_tags"
               id="otherCategories"
               type="text"
               placeholder="Other Categories (comma separated)"></textarea>
      </div>

    </div>

    <div class="form-group {{ d.get('desc_class', '') }}">
      <label for="caseDescription">Description</label>
      <textarea class="form-control" rows="4" id="caseDescription" placeholder="Describe what makes this case interesting" name="case_description"></textarea>
    </div>

    <div class="form-group">
      <label for="contactInfo">Contact Info (optional)</label>
      <div class="form-inline" id="contactInfo">
        <input class="form-control" type="text" id="submittorName" placeholder="Name" name="name"></input>
        <input class="form-control" type="email" id="submittorEmail" placeholder="Email Address" name="email"></textarea>
      </div>
    </div>

    <div class="g-recaptcha" data-sitekey="{{ site_key }}" style="margin-bottom:10px"></div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>

{% endblock %}
