{% extends 'base.html' %}

{% include 'navbar.html' %}
{% block content %}

<!--
<div class="row">
<div class="col-md-12 text-center" style="font-size:36px">{{ date }}</div>
</div>
-->
<div class="row">
  <div class="col-md-2">
    <a class="btn btn-primary btn-block" href={{ url_for('date_page', date=prev) }} role="button">{{ prev }}</a>
  </div>

  <div class="col-md-8" style="font-size:30px">{{ date }}</div>

  <div class="col-md-2">
    <a class="btn btn-primary btn-block" href={{ url_for('date_page', date=next) }} role="button">{{ next }}</a>
  </div>
</div>

<div class="row" style="padding-top:15px">
  <div class="col-md-6">
    <a href={{ aer }}><img src={{ aer }} class="img-responsive"></a>
  </div>
  <div class="col-md-6">
    <a href={{ met }}><img src={{ met }} class="img-responsive"></a>
  </div>
</div>
{% endblock %}
