{% extends 'base.html' %}

{% block content %}

{% include 'title_block.html' %}

<div class="row" style="padding-top:15px">
  <div class="col-md-6">
    <a href={{ aer }}><img src={{ aer }} class="img-responsive"></a>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <a href={{ met }}><img src={{ met }} class="img-responsive"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href={{ rose }}><img src={{ rose }} class="img-responsive"></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
