{% extends 'base.html' %}

{% block content %}

{% for category, frames in cases.iteritems() %}

<div class="col-sm-6 col-lg-4">

  <table class="table table-bordered table-hover table-condensed cases">

    <tr>
      <th>{{ category }}</th>
    </tr>

    {% for date, description in frames['description'].iteritems() %}
      <tr>
        <td>
          <a href="{{ url_for('date_page', date=date.strftime('%Y-%m-%d')) }}">
            <strong>{{ date.strftime('%Y-%m-%d') }}</strong><br>
            {{ description }}
          </a>
        </td>
      </tr>
    {% endfor %}

  </table>

</div>

{% endfor %}

{% endblock %}
