{% extends 'base.html' %}

{% block content %}

<script type=text/javascript>
  $(function() {
    $('button.change-plot').bind('click', function() {
      // console.log( $( this )[0].id )
      $.post($SCRIPT_ROOT + '/_set_session_prefix',
             { new_prefix: $( this )[0].id,
               date: {{ date_str }}
             }, function(data) {
               $('a#'+data['plot_type']).attr('href', '{{ plot_url }}'+data["new_prefix"]+'-{{ date_str }}.png');
               $('img#'+data['plot_type']).attr('src', '{{ plot_url }}'+data["new_prefix"]+'-{{ date_str }}.png');
               $('button.'+data['plot_type']).attr('class', 'btn btn-default btn-xs change-plot '+data['plot_type']);
               $('button#'+data['new_prefix']).attr('class', 'btn btn-primary btn-xs change-plot '+data['plot_type']);
               // $('#session').text( "{{ session }}|e" );
             }
           );
      // alert( $( this )[0].id );
      return false;
    });
  });
</script>

{% include 'title_block.html' %}

<div id="plot-container" class="row" style="padding-top:10px">

{% for column, pfx in [('left-column', ['uhsas', 'aerosol', 'scattering', 'ccn', 'cn', 'co']),
                       ('right-column', ['radar', 'precip', 'wind', 'rose'])] %}

  <div id={{ column }} class="col-md-5 plot-column">

  {% for p in pfx %}

    <div class="col-xs-12 plot-container" id={{ p }}>
      <div class="col-xs-12 plot-options">

      {% for prefix in types[p] if types[p]|length>1 %}
        <button class='btn btn-{{ 'primary' if session.prefixes[p]==prefix else 'default'  }} btn-xs change-plot {{ p }}' id={{ prefix }}>
          {{ labels[prefix] }}
        </button>
      {% endfor %}

      </div>
    <div class="col-xs-12 plot-image">
      <a href="{{ plot_url }}{{ session.prefixes[p] }}-{{ date_str }}.png" class=image-link data-lightbox="{{ p }}" id={{ p }}>
        <img class=img-responsive id={{ p }} src="{{ plot_url }}{{ session.prefixes[p] }}-{{ date_str }}.png">
      </a>
      </div>
    </div>

  {% endfor %}

  </div>

{% endfor %}

  <div id=sounding-container class='col-md-2 plot-column'>
    {% for sounding in soundings if soundings|length>0 %}
    <div class="col-xs-12 plot-image">
      <a class="image-link sounding" href="{{ plot_url }}{{ sounding }}" data-lightbox="sounding">
        <img class="img-responsive sounding" src="{{ plot_url }}{{ sounding }}">
      </a>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}
