<!--
<div class="row">
<div class="col-md-12 text-center" style="font-size:36px">{{ date }}</div>
</div>
-->
<div class="row">

  <div class="col-xs-0 col-md-3"></div>

  <div class="col-xs-4 col-md-2">
    <a class="btn btn-primary btn-block" href={{ url_for('date_page', date=dates[0], radar=radar) }} role="button">{{ prev }}</a>
  </div>

  <div class="col-xs-4 col-md-2 text-center" style="font-size:24px">{{ current }}</div>

  <div class="col-xs-4 col-md-2">
    <a class="btn btn-primary btn-block" href={{ url_for('date_page', date=dates[2], radar=radar) }} role="button">{{ next }}</a>
  </div>
</div>
