

  <!--<div class="col-xs-0 col-md-1 col-lg-3"></div>-->

  <div class="col-xs-4">
    <div class="col-md-offset-6 col-md-6">
    <a class="btn btn-primary btn-block"
       href="{{ url_for('figures_page', date=prev_day.strftime('%Y-%m-%d')) }}"
       role="button">
        {{ prev_day.strftime('%Y %b %d') }}
    </a>
  </div>
  </div>

  <div class="col-xs-4 text-center" style="font-size:24px">{{ date.strftime('%Y %b %d') }}</div>

  <div class="col-xs-4">
    <div class="col-md-6">
    <a class="btn btn-primary btn-block"
       href="{{ url_for('figures_page', date=next_day.strftime('%Y-%m-%d')) }}"
       role="button">
        {{ next_day.strftime('%Y %b %d') }}
    </a>
  </div>
  </div>


<div class="row col-md-4 col-md-offset-4 text-center">
  <a class="btn btn-link btn-block" href="{{ url_for('submit_case', date=date.strftime('%Y-%m-%d')) }}" role="buttom" target="_blank">
    Submit this day as an interesting case
  </a>
</div>
